h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 30px;
}

p {
  font-size: 12px;
}

.appointment-container {
  min-height: calc(100vh - 125px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 20px;
}

.schedule-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 15px 10px 15px;

  .field-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;

  }

  .right-align {
    justify-content: flex-end;
  }
}