.contact-container {
  background: #FFF;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  
  gap: 10px;
  margin: 15px auto;
  width: 320px;

  #contactUs {
    position: absolute;
    top: -69px;
  }

  h2 {
    margin-bottom: 10px;
  }

  .field-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .right-align {
    margin-top: 10px;
    justify-content: flex-end;

  }
}